@media screen and (max-width: 1360px) {

	/***** Navigation *****/
	#access a:hover,
	#access .sub-menu a { 
		background: none !important;
	}

	/***** Contact Info Widget *****/
	#text-3 li {
		margin-bottom: 3px;
	}
	#text-3 .data, 
	#text-3 .label {
		text-align: left;
		width: 100%;
	}
	
}



@media screen and (max-width: 1015px) {
	
	/***** Header *****/
	#header {
		background: #d50000 url("img/header_bulldog2.png") no-repeat top 50% right 10%;
		background: url("img/header_bulldog2.png") no-repeat top 50% right 10%, 
					linear-gradient(#ff0000 0%, #ba0000 100%);
		font-size: 0.8em;
	}
	
	/***** Faculty Page (Faculty Template) *****/
	.page-template-faculty .member .name, 
	.page-template-faculty .member .position,
	.page-template-faculty .member .email,
	.page-template-faculty .member .website {
		float: none;
		text-align: left;
		width: auto;	
	}
		
}


@media screen and (max-width: 850px) {
	
	/***** Header *****/
	#header {
		background: #d50000 url("img/header_bulldog2.png") no-repeat top 50% right 5%;
		background: url("img/header_bulldog2.png") no-repeat top 50% right 5%, 
					linear-gradient(#ff0000 0%, #ba0000 100%);
	}
	
	#header h1 {
		line-height: 1em;
	}
	
}


@media screen and (max-width: 745px) {
	
	/***** Header *****/
	#header {
		background-color: #d50000;
		background-image: none;
		padding: 1%;
	}
	
	/***** Content *****/
	#content,
	#sidebar1,
	#sidebar2 {
		width: 96%;
	}
	
	#content {
		border-bottom: 1px solid #ccc;
		border-left: 0;
		border-right: 0;
		border-top: 1px solid #ccc;
	}
	
	/***** Navigation *****/
	#access .responsive-link {
		display: inline;
	}
	
	.sidebar {
		padding: 0;
	}
	
	#sidebar1 .widget-container,
	#sidebar2 .widget-container {
		display: none;
	}
	
	/***** Search Widget *****/
	#search-2 #s,
	#search-2 #searchsubmit {
		padding: 1%;
		width: auto;
	}
	
	/***** Social Media Widget *****/
	#text-4 {
		text-align: left;
	}
	
	/***** Contact Info Widget *****/
	#text-3 .data {
		text-align: left;
	}
	
}


@media screen and (max-width: 500px) {
	
	/***** Header *****/
	#header {
		font-size: 0.7em;
	}
	
}