*{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
}
header, footer, nav, article, aside{
	display: block;
}
body{
	margin: 0;
	font-family: Helvetica, "Trebuchet MS", "Ammys Handwriting", sans-serif;
	background: #444 url(images/background.jpg) no-repeat top center;
	background-attachment: fixed;
}
@font-face {
	font-family: "Ammys Handwriting";
	src: url(media/Ammys-Handwriting.ttf);
}
#newswire{
	display: block;
	position: fixed;
	background-color: #101010;
	width: 100%;
	height: 40px;
	z-index: 2000;
}
.nw-cent{
	display: inline-block;
	color: #f6881c;
	text-align: center;
	font-weight: 700;
	height: 40px;
	margin: 0;
	padding: 10px 0;
	width: calc(100% - 341px);
}
.nw-left{
	display: inline-block;
	float: left;
	margin: 0 20px;
}
.nw-right{
	height: 40px;
	display: inline-block;
	float: right;
	margin: 0;
	padding: 10px 0;
	color: #fff;
	font-weight: 700;
	margin: 0 20px;
}
header{
	height: 200px;
	background: #444 url(images/header3.png) left no-repeat;
	margin-top: 40px;
	box-sizing: content-box;
	overflow: hidden;
}
header h1{
	color: #fff;
	float: right;
	font-size: 90px;
	font-weight: 500;
	margin: 10px 140px 0 140px;
	text-shadow: 5px 5px 5px #000;
}
header h2{
	color: #fff;
	float: right;
	font-size: 60px;
	font-weight: 500;
	margin: 0 140px;
	text-shadow: 5px 5px 4px #000;
}
#wrapper{
	margin: auto;
	overflow: auto;
	width: 100%;
}
#wrapper-2{
	margin: 30px 60px;
	background: #ebf2f5;
	opacity: 0.8;
	border: 1px solid #bcc2c4;
	overflow: auto;
}
article{
	width: calc(100% - 550px);
	float: left;
	margin: 30px 15px 30px 30px;
}
article h2{
	margin: 0;
}
aside{
	width: 460px;
	float: right;
	margin: 30px 30px 30px 15px;
}
nav{
	height: 45px;
	width: 100%;
	background-color: #101010;
	padding-left: 160px;
	color:#fff;
	overflow: hidden;
}
.nav-main > ul{
	margin: 0;
	padding: 0;
	float: left;
	list-style-type: none;
}
.nav-main > ul > li{
	float: left;
}
.nav-item{
	display: inline-block;
	padding: 0 25px;
	height: 45px;
	line-height: 45px;
	color: #fff;
	font-weight: 600;
}
nav a:hover{
	background-color: #202020;
	border-bottom: 4px solid #EF0000;
	transition: all 0.2s ease-in-out;
}
.nav-content{
	position: absolute;
	top: 285px;
	z-index: 500;
	overflow: hidden;
	background-color: #101010;
	max-height: 0;
}
.nav-content a{
	color: #fff;
	text-decoration: none;
	font-weight: 600;
}
.nav-content a:hover{
	background-color: #202020;
	border-bottom: 4px solid #EF0000;
	transition: all 0.2s ease-in;
}
.nav-sub ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.nav-sub ul li a{
	display: inline-block;
	padding: 10px 0;
	width: 140px;
	text-align: center;
}
.nav-item:focus{
	background-color: #202020;
	border-bottom: 4px solid #EF0000;
}
.nav-item:focus ~ .nav-content{
	max-height: 800px;
	transition: max-height 0.5s ease-in;
	-webkit-transition: max-height 0.5s ease-in;
	-moz-transition: max-height 0.5s ease-in;
}
.nav-content:active, .nav-content-sub:active{
	max-height: 800px;
}
aside span{
	font-weight: 700;
}