#access,
#footer,
.principal,
.sidebar {
	display: none;
}

body {
	background: none;
}

#content {
	background: none;
	border: 0;
	padding: 0;
	width: 100%;
}

#header {
	background: none;
	margin-bottom: 1em;
	overflow: visible;
	padding: 0;	
}

#header h1,
#header h2 {
	color: #000;
	line-height: 1em;
	margin: 0;
	text-shadow: none;
}

#wrapper {
	box-shadow: none;
}
